    @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400&family=Outfit:wght@300;500&display=swap');
h1{
    font-family: 'Kanit', sans-serif;
    font-size: 70px;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    color:rgb(8, 46, 86);

}

h2{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color:rgb(8, 46, 86);
    letter-spacing: 0.2em;
    transition: letter-spacing 5s;
    transition-timing-function: (1, 2, 0, -1);
}

h2:hover {
    letter-spacing: 3.3em;
}

body{
    background-color: aliceblue;
    padding-bottom: 6rem;
}

.main {
    display: flex;
    flex-direction: row;
}


.quotes {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    width: 45%;
}

.scene {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    margin: 0px 10px 10px 0px;
    border: 3px;
    border-style: outset;
    border-radius: 10px;
    border-color: rgb(83, 83, 181);
    padding: 0px 15px 15px 15px;
    transition: border-color 1s;
}

.scene:hover {
    border-color: rgb(202, 23, 23);
}

.scene:hover .sceneTitle {
    color:rgb(202, 23, 23);
}

.img {
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.italic {
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    font-weight: 200;
}

.sceneTitle {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    color:blue;
    transition: color 1s;
}
